<!DOCTYPE html>
<html>
    <head>
        <title>resultChart</title>
        <link rel="stylesheet" type="text/css" href="/static/css/w3.css"> 
        <link rel="stylesheet" type="text/css" href="/static/css/user.css"> 
        <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>

    <body>
        <div class="w3-content w3-center">
            <div class="w3-col w3-center">
                <div id="tag_data">
                    {{tag_data | safe}}
                </div>
            </div>
        </div>
    </body>
</html>